<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- Bootstrap animation -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">

          <a class="navbar-brand" href="/">
            <img src="../static/img/logo-2.png" alt="" class="nav-logo">
          </a>

          <a class="navbar-brand mb-0 ms-3 h1 top-navbar-title" href="/"><span class="letter-logo">AIscriber</span><span class="mojiokoshi">AI文字起こし&翻訳</span></a>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active top-navbar-item" aria-current="page" href="/top"><span class="letter-logo">AIscriber Pro</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active top-navbar-item" aria-current="page" href="/top">プランと価格</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">ログイン</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup">登録</a>
              </li> -->
            </ul>
          </div>
          <a class="top-use-pro-button" href="/top">
            <button tabindex="0" class="dl_headerMenu__proButton" id="header-pro-button" _dl-connected="1" data-href="/pro?cta=header-pro-button" _dl-attr="onEvent{click}: $0.onClick, attr{data-href}:$0.proUrl, text: $0.label" _dl-attr-type="null"><span class="letter-logo">AIscriber Pro</span>を使う</button>
          </a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
        </div>
      </nav>

      {% block main %}
      {% endblock %}
      <!-- <div class="footer-container"> -->
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/top" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/top" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="/top" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2022 <span class="letter-logo">AIscriber, Inc</span></p>
        </footer>
      <!-- </div> -->
    </body>
</html>
